body{
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(72, 177, 124);

}
.d1{
    text-align: center;
    word-spacing: 300px;
    color: aliceblue;
    background-color: rgb(78, 156, 103);
    background-size: 100px 100px;
    background-position: 50px 50px;
}
h1{
    font-family: cursive; 
    
}
ol{
    font-family: sans-serif;
}
ul{
    font-family: sans-serif;
}
table{
    font-family: sans-serif;
}
td{
    padding-inline: 10px;
    word-spacing: 8px;
    line-height: 26px;
}